{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}
    <section class="site-section pt-5">
        <div class="container">

            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4">Salom Men Suyunov Husan Sayt ishlab chiquvchisi</h2>
                            <p class="mb-5"><img src="{% static 'images/img_6.png' %}" alt="Image placeholder" class="img-fluid"></p>
                            <p>Hurmatli foydalanuvchi, bizning sayt orqali siz zamonaviy texnologiyalar dunyosiga sayohat qilasiz!</p>

                            <p>Bizda siz topasiz:</p>
                            
                            <ul>
                              <li>📱 Eng so'nggi gadjetlar, ularning imkoniyatlari va afzalliklari haqida batafsil sharhlar</li>
                              
                              <li>🤖 IT gigantlari yangiliklari - ularning innovatsion mahsulotlari haqida eng yangi ma'lumotlar</li>  
                            
                              <li>💻 Dasturlash sir-asrorlaridan lavhalar - dasturlash olamiga kirib borish uchun zarur bo'lgan bilimlar</li>
                              
                              <li>📈 Texnologiyalarning rivojlanishi statistikasi - son va grafikalar orqali ilmiy-texnik taraqqiyot tahlili</li>
                              
                              <li>🔬 Innovatsion kashfiyotlar va texnologiyalar haqidagi tanqidiy maqolalar</li>

                              <!-- <li>🔬 O</li> -->
                              
                              <li>🤖 Sun'iy intellekt, robototexnika va ularga oid so'nggi yutuqlar haqida foydali maslahatlar</li>
                            </ul>
                            
                            <p>Barcha maqolalar siz azizlar uchun o'zbek tilida taqdim etiladi.</p>
                            
                            <p>O'zingizni IT dunyosining taniqli sayyohi deb hisoblaydigan bo'lsangiz, saytimizga xush kelibsiz!</p>
                        </div>
                    </div>
                </div>

                <!-- END main-content -->
{% endblock %}
</div>
</div>
</section>